## .NET
bin/
obj/
*.user
*.suo
*.cache
*.vs/
.vs/

## NuGet
packages/
*.nupkg

## Build results
artifacts/
[Dd]ebug/
[Rr]elease/
x64/
x86/

## IDE
.idea/
*.swp
*~

## Logs
Logs/
*.log

## Images
Images/

## Temp
*.tmp

## Installers
Microsoft .NET SDK*
*.exe.cache
